body {
  font-family: Nuskhuri1;
}
.contents {
    background-color: black;
    width:76%;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}
.contents p {
  font-family: Nuskhuri1;
  }
.contents p {
  font-family: Nuskhuri1;
  }
.navbar {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #7bc0d5;
  background-size: contain;
  height: 105px;
  position: relative;
  z-index: 1;
}

.wordmark {
  float: left;
  height: 65px;
  margin: 20px 0 20px 20px;
  max-width: 250px;
  width: auto;
}
.wordmark img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
}
.topcontainer {
  display: flex;
  height: 59px;
}
.sitename {
    overflow: hidden;
    flex: 1;
    margin: 25px 0 0 18px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    color: black;
}
.pagecounter {
    margin: 17px 20px 20px 20px;
    font-weight: 600;
    text-align: right;
    color: black;
}
.countervalue {
      display: block;
      font-size: 24px;
      line-height: 1;
}
.counterlabel {
      display: block;
      margin-top: 3px;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
}
.bottomcontainer {
    display: flex;
    height: 46px;
    padding-left: 6px;
}
.tabs {
    scrollbar-width: none;
    align-items: flex-end;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.tabs-tab {
    color: black;
    cursor: default;
    flex-shrink: 0;
    line-height: 14px;
    position: relative;
    transition: box-shadow .1s;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.tab-label {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  letter-spacing: .5px;
  margin: 0 11px;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
  white-space: nowrap;
}
.tab-label a {
  color: inherit;
}
.dropdown-toggle {
  cursor: default;
  position: relative;
}
.navbox .tabs .tab-label {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}
.icon {
    fill: currentColor;
    height: 24px;
    min-width: 24px;
    width: 24px;
}
.icon-tiny {
    height: 12px;
    min-width: 12px;
    width: 12px;
}

.icon .icon-tiny .toggle-chevron {
  opacity: .5;
  color: #1a1a1a;
}
.tab-label :not(:first-child):not(:only-child) {
    margin-left: 4px;
}
.tabs:hover {
  
}

.tg  {border:1px solid #72bcd4;border-spacing:0; width:270px; border-radius: 3px;float:right;margin: 0 0 18px 18px;table-layout: fixed;border-spacing: 0px;}
.tg td{border:1px solid #72bcd4;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:9px 6px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:9px 6px;word-break:normal;}
.tg .tg-1{background-color:#72bcd4;font-size:x-large;text-align:center;vertical-align:top;color:black;font-weight: bold;}
.tg .tg-2{border-color:#72bcd4;text-align:left;vertical-align:top; padding: 0px; margin: 0px;}
.tg .tg-3{background-color:#72bcd4;font-size:medium;text-align:center;vertical-align:top;color:black;font-weight: bold;}
.tg .tg-4{border-color:#72bcd4;text-align:left;vertical-align:top;border-right:none;border-left:none;border-bottom:none;}
.tg .tg-5{border-color:#72bcd4;font-size:medium;text-align:center;vertical-align:top; border:none;}
.tg .tg-6{border-color:#72bcd4;text-align:center;vertical-align:top; border-top:none}
.tg .tg-3 a {text-decoration: none; color:inherit}
.tg td .tg-2 img {vertical-align: middle; text-align: center;}