.vera-farmiga, .freddie-highmore, .max-thieriot, .olivia-cooke, .nicola-peltz, .bradley-martin, .w-earl-brown, .nestor-carbonell, .david-cubitt, .keegan-connor-tracy, .blaire-watson, .mike-vogel, .zack-shelby, .richard-harmon, .richard-sylmore, .emmalyn-estrada, .hayden, .jenna-romanin, .jenna, .conchita-campbell, .kennedy, .brittney-wilson, .lissa, .unnamed-dude, .christine-chatelain, .marcy-mcclean, .psycho-movie, .marion-crane, .caleb-calhoun {
    color:black
}

a[href~="Bates_Motel_(TV_series).html"] {
    color:#bf0017 !important;
}
a[href~="Carlton_Cuse.html"] {
    color:#bf0017 !important;
}
a[href~="Kerry_Ehrin.html"] {
    color:#bf0017 !important;
}
a[href~="Anthony_Cipriano.html"] {
    color:#bf0017 !important;
}
a[href~="Tucker_Gates.html"] {
    color:#bf0017 !important;
}
a[href~="Sam_Bates.html"] {
    color:#bf0017 !important;
}
a[href~="Keith_Summers.html,"] {
    color:#bf0017 !important;
}
a[href~="Season_1.html"] {
    color:#bf0017 !important;
}
a[href~="Caleb_Calhoun.html"] {
    color:#bf0017 !important;
}
a[href~="Unnamed_Dude.html"] {
    color:#bf0017 !important;
}
a[href~="Keith_Summers.html"] {
    color:#bf0017 !important;
}
a[href~="Vera_Farmiga.html"] {
    color:#bf0017 !important;
}
a[href~="Freddie_Highmore.html"] {
    color:#bf0017 !important;
}
a[href~="Max_Thieriot.html"] {
    color:#bf0017 !important;
}
a[href~="Olivia_Cooke.html"] {
    color:#bf0017 !important;
}
a[href~="Nicola_Peltz.html"] {
    color:#bf0017 !important;
}
a[href~="Bradley_Martin.html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
a[href~=".html"] {
    color:#bf0017 !important;
}
